* {
  font-family: "Press Start 2P", cursive;
}

body {
  background: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.loadingScreen {
    position: absolute;
    height: 100vh;
    z-index: 9000;
    width: 100vw;
    background: black;
}

.loadingBar {
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 30px;
    border: 7px solid green;
    border-radius: 10px;
}

.loadingBarFill {
    width: 1%;
    height: 30px;
    background-color: green;
    color: black;
    overflow: hidden;
    text-align: center;
    font-weight: 400;
    padding-top: 7px;
    font-size: 20px;
}

.wrapper {
  position: relative;
  width: 100vw;
  display: grid;
  background-color: black;
}

#game {
  background-color: green;
  padding-left: 20px;
  padding-right: 20px;
  /* position: rela; */
  /* top: 15%; */
  /* left: 15%; */
  /* margin-top: -15%;
    margin-left: -15%; */
  margin-left: auto;
  margin-right: auto;
  /* width: 80vw;
    height: 80vh; */
  z-index: 1;
}

.info {
  height: 3em;
  width: inherit;
  color: white;
  display: flex;
  /* column-gap: 20px; */
}

.timer {
  text-align: center;
  flex: 33.333%;
  margin-top: 2%;
  font-weight: 600;
  width: 33%;
}

.lives {
  text-align: left;
  /* margin-left: 10%; */
  margin-top: 2%;
  flex: 33.333%;
}

.livesIcon {
  background-image: url("/img/heartBM.png");
  background-size: cover;
  width: 17px;
  height: 15px;
  margin: 3px;
  display: inline-block;
}

.score {
  text-align: right;
  flex: 33.333%;
  margin-top: 2%;
  font-weight: 600;
  width: 15%;
}

.grid-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.grid-item {
  color: white;
}

.solid-wall {
  /* background-color: silver;
    border: 2px solid white; */
  background-image: url("/img/solidWallBM.png");
  background-size: cover;
  z-index: 10;
}

.softWall {
  /* background-color: brown;
    border: 4px solid rgb(108, 32, 32);
    color: brown;
    z-index: 100; */
  background-image: url("/img/softWallBM3.png");
  background-size: cover;
  background-color: brown;
  background-blend-mode: multiply;
  z-index: 10;
}

.empty-field {
  background-color: green;
}

.empty-field.goal {
  background-image: url("/img/goalBM.png");
  background-size: cover;
  z-index: 1;
}

.player {
  /* color: transparent;
    background-color: rgb(120, 0, 120);
    border-radius: 50%; */

  background-image: url("/img/bombBasic2.png");
  background-position: 0px 90px;
  background-position-x: 4px;
  
}

.player.bomb {
    background-image: url("/img/bombBasic2.png"), url("/img/bombBM.png"); ;
    background-position: 2px 90px, -2px 0;
    background-size: auto, cover; 
}

.player.winner {
  background-image: url("/img/victoryBM.png");
  background-position: 2px -3px;
  background-position-x: center;
}

.player.invincible.player.moveRight,
.player.invincible.player.moveLeft,
.player.invincible.player.moveDown,
.player.invincible.player.moveUp {
    animation: blinker 0.9s linear infinite;
}

.player.invincible {
  animation: blinker 0.9s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes moveUp {
  0% {
    background-position: 0px 1px;
    background-position-x: center;
    transform: translateY(25%);
  }
  50% {
    background-position: 87px 0;
    background-position-x: center;
  }
  100% {
    background-position: 122px 1px;
    background-position-x: center;
    transform: translateY(-25%);
  }
}

@keyframes moveRight {
  0% {
    background-position: 0px 141px;
    background-position-x: center;
    transform: translateX(-25%);
  }
  50% {
    background-position: 87px 141px;
    background-position-x: center;
  }
  100% {
    background-position: 125px 141px;
    background-position-x: center;
    transform: translateX(25%);
  }
}

@keyframes moveDown {
  0% {
    background-position: 0px 93px;
    background-position-x: center;
    transform: translateY(-25%);
  }
  50% {
    background-position: 87px 93px;
    background-position-x: center;
  }
  100% {
    background-position: 122px 93px;
    background-position-x: center;
    transform: translateY(25%);
  }
}

@keyframes moveLeft {
  0% {
    background-position: 0px 46px;
    background-position-x: center;
    background-position-y: 43px;
    transform: translateX(25%);
  }
  50% {
    background-position: 87px 43px;
    background-position-x: center;
  }
  100% {
    background-position: 125px 46px;
    background-position-x: center;
    background-position-y: 43px;
    transform: translateX(-25%);
  }
}

.player.moveDown {
    /* display: hidden; */
    animation: playerDeath 600ms steps(1);
}

@keyframes playerDeath {
    0%{background-position: 176px -3px; background-image: url('/img/playerDeadBM.png');}
    25%{background-position: 127px 0px; background-image: url('/img/playerDeadBM.png');} 
    50%{background-position: 85px 0px; background-image: url('/img/playerDeadBM.png');}
    75%{background-position: 43px 0px; background-image: url('/img/playerDeadBM.png');}
    100%{background: transparent;}

}

.player.moveRight {
  animation: moveRight 200ms steps(3);
  /* animation-name: moveRight;
    animation-duration: 100ms;
    animation-timing-function: ease-out; */
}

.player.moveLeft {
  animation: moveLeft 200ms steps(3);
  /* animation-name: moveLeft;
    animation-duration: 100ms;
    animation-timing-function: ease-out; */
}

.player.moveUp {
  animation: moveUp 200ms steps(3);
  /* animation-name: moveUp;
    animation-duration: 500ms;
    animation-timing-function: steps(3); */
  /* animation-name: moveUp;
    animation-duration: 100ms;
    animation-timing-function: ease-out; */
}

.player.moveDown {
  animation: moveDown 200ms steps(3);
  /* animation-name: moveDown;
    animation-duration: 100ms;
    animation-timing-function: ease-out; */
}

.enemy {
  /* color: transparent;
    background-color: rgb(191, 158, 9);
    border-radius: 50%;
    overflow: hidden; */
  animation: enemyMove 400ms steps(4);
  background-image: url("/img/enemyBM2.png");
  background-position: 0 0;
  /* border-left: 4px solid green; */
}

@keyframes enemyMove {
  from {
    background-position: 0, 0;
  }
  to {
    background-position: 173px, 0px;
  }
}

.bomb {
  background-image: url("/img/bombBM.png");
  animation-name: bombTimer;
  background-size: cover;
  background-position: initial;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index: 4;
}

@keyframes bombTimer {
  0% {
    transform: scale(85%);
  }
  25% {
    transform: scale(90%);
  }
  50% {
    transform: scale(85%);
  }
  75% {
    transform: scale(90%);
  }
  100% {
    transform: scale(100%);
  }
}

.explosion {
  /* background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0); */
  background-image: url("/img/explosionBM.png");
  background-size: contain;
}

.pauseScreen {
  background-color: rgba(0, 0, 0, 0.8);
  color: green;
  position: absolute;
  display: none;
  margin-top: 20%;
  padding-top: 4px;
  margin-left: 25%;
  width: 50%;
  z-index: 999;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  font-weight: 800;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  box-shadow: 0px 0px 5px 5px black;
}

.pauseButton {
  text-align: center;
  display: inline-block;
  background-color: green;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 10%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-left: auto;
    margin-right: auto; */
}

.pauseButton:focus {
  transform: scale(120%);
}

.gameOverScreen {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: none;
  color: white;
}

.gameOverScreenH1 {
  padding-top: 15%;
  font-size: 60px;
  font-weight: 800;
  color: green;
}

.congratulations {
  font-size: 2em;
  font-weight: 800;
  display: block;
  z-index: 1001;
  color: white;
  margin-top: 15%;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
}

.winP {
  color: inherit;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.startWrap {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 1);
}
.startScreen {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  z-index: 1000;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.startTitle {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  font-weight: 900;
  position: relative;
  margin-bottom: 0;
}
.startTitle2 {
  margin-top: 7%;
  color: white;
  text-align: center;
  cursor: default;
  font-size: 60px;
  font-weight: 900;
  position: relative;
  text-shadow: -4px 3px 1px black, -8px 5px 0px white;
  /* text-shadow: 2px 2px 1px white;  */
}

.startButton {
  display: block;
  height: auto;
  text-align: center;
  margin: 7px;
  padding: 20px;
  left: 50%;
  background-color: black;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.startButton:hover {
  color: green;
  border: 3px solid green;
}

.startButton:focus {
  color: green;
  border: 3px solid green;
  outline: none;
}

.helpWrap {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: 1004;
  background-color: rgba(0, 0, 0, 1);
}

.helpScreen {
  z-index: 1005;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
}

#helpText {
  white-space: pre-wrap;
  color: white;
  margin-top: 7%;
  font-size: 0.9rem;
  font-weight: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 23px;
}

#backButton {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-top: 5%;
}

.level {
    position: absolute;
    color: white;
    display: block;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}
